{% load relations %}
{% load crispy_forms_tags %}

{% for rel in relation_types %}
{% with rel|contenttypetoclass as model %}

{% if instance %}
  {% url 'relationtypefrom' rel.pk instance.pk as posturl %}
  {% url 'relationpartial' rel.pk instance.pk as hxgeturl %}
{% else %}
  {% url 'relationtype' rel.pk as posturl %}
  {% url 'relationpartial' rel.pk as hxgeturl %}
{% endif %}

<a href="{{ posturl }}"

{% if collapse %}
  data-toggle="collapse"
  data-target="#collapse-{{rel.model}}"
{% endif %}

{% if htmx %}
  hx-get="{{hxgeturl}}{% if next %}?next={{next}}{% endif %}"
  hx-target="#collapse-{{rel.model}}"
{% endif %}

"><button type="button" class="btn btn-sm">{{ model.name }}</button></a>
{% endwith %}
{% endfor %}

{% for rel in relation_types %}
<div class="collapse" id="collapse-{{ rel.model }}">
{% if not htmx %}
{% if collapse %}
  {% if instance %}
  {% relation_form rel instance as form %}
  {% else %}
  {% relation_form rel as form %}
  {% endif %}
  {% crispy form %}
{% endif %}
{% endif %}
</div>
{% endfor %}
