{% load relations %}
{% load crispy_forms_tags %}

{% for rel, model in relation_types %}

  {% if instance %}
    {% url 'relation' rel.pk instance.pk as posturl %}
    {% url 'relationpartial' rel.pk instance.pk as hxgeturl %}
    {% if rel in relation_types_reverse %}
      {% url 'relationinverted' rel.pk instance.pk as posturl %}
      {% url 'relationpartialinverted' rel.pk instance.pk as hxgeturl %}
    {% endif %}
  {% else %}
    {% url 'relation' rel.pk as posturl %}
    {% url 'relationpartial' rel.pk as hxgeturl %}
  {% endif %}

  <a href="{{ posturl }}"
     data-toggle="collapse"
     data-target="#collapse-{{rel.model}}"
     hx-get="{{hxgeturl}}"
     hx-target="#collapse-{{rel.model}}">
       <button type="button" class="btn btn-sm">
         {% if rel in relation_types_reverse %}{{ model.name_reverse }}{% else %}{{ model.name }}{% endif %}
       </button>
  </a>
{% endfor %}

{% for rel, model in relation_types %}
<div class="collapse" id="collapse-{{ rel.model }}"></div>
{% endfor %}
