{% extends basetemplate %}
{% load relations %}

{% block content %}
{% if contenttype %}
  {% with contenttype|contenttypetoclass as model %}
  <h1 class="text-center">{{ model.name }}</h1>
  {% endwith %}
{% endif %}
{% if object %}
  <h1 class="text-center">{{ object }}</h1>
{% endif %}
{% if not object and not contenttype %}
{% relations_links collapse=False htmx=False %}
{% endif %}

{% if table %}
{% load render_table from django_tables2 %}
{% render_table table %}
{% endif %}

{% if formset %}
{% load crispy_forms_tags %}

{% crispy formset %}

{% endif %}

<input type="button" value="Add More" id="add_more">
<div id="empty_form" style="display:none">
	{{ formset.empty_form|crispy }}
</div>
<script>
$('#add_more').click(function() {
    // TODO: use formset.helper.form_id for TOTAL_FORMS
    var form_idx = $('#id_form-TOTAL_FORMS').val();
    $('#{{ formset.helper.form_id }}').find('div').last().prepend($('#empty_form').html().replace(/__prefix__/g, form_idx));
    $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
});
</script>

{% endblock content %}
