{% extends basetemplate %}
{% load relations %}

{% block content %}
{% if contenttype %}
  {% with contenttype|contenttypetoclass as model %}
  <h1 class="text-center">{{ model.name }}</h1>
  {% endwith %}
{% endif %}
{% if object %}
  <h1 class="text-center">{{ object }}</h1>
{% endif %}
{% if not object and not contenttype %}
{% relations_links collapse=False htmx=False %}
{% endif %}

{% if table %}
{% load render_table from django_tables2 %}
{% render_table table %}
{% endif %}

{% if form %}
{{ form.errors }}
{{ form.non_field_errors }}
{% load crispy_forms_tags %}
{% crispy form %}
{% endif %}

{% endblock content %}
